# 个人笔记

## 1、介绍

- 本人所有的笔记都在里面，使用Git仓库作为平台搭建的，为了查询速度，本人添加了文件目录的选项，方便直接查询，合计{{.Total}}篇
- 有可能涉及到工作公司的一些隐私URL，所以这个不会作为public的仓库
- 目前仓库所有文件都是文本，图片上传依赖于本人写的OSS插件配合Typora ，有兴趣的可以下载OSS插件：[https://github.com/Anthony-Dong/go-tool](https://github.com/Anthony-Dong/go-tool) ，记得star一下
- 本人Github地址：[https://github.com/Anthony-Dong](https://github.com/Anthony-Dong)
- 本人Leetcode项目地址：[https://github.com/Anthony-Dong/leetcode](https://github.com/Anthony-Dong/leetcode)

## 2、文件目录

{{.UrlPath}}

